<div class="container-fluid x" ng-init="init()">
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <div class="portal-login-wrapper" style="margin-top: 40%">
	            <div class="panel panel-info">
				  	<div class="panel-heading">
				  		Login to EZPortal
				  	</div>
				  	<div class="panel-body">
			            <form class="form-horizontal">
			                <div class="form-group">
			                    <label for="inputEmail" 
			                        class="col-md-4 control-label">
			                        Email ID
			                    </label>
			                    <div class="col-md-6">
			                        <input ng-model="login.emailId" 
			                            type="text" 
			                            ng-blur="initUserSpaces($event, login.emailId)" 
			                            class="form-control" 
			                            id="inputEmail"
			                            placeholder="Email" />
			                    </div>
			                </div>
			                <div class="form-group">
			                    <label for="inputPassword" 
			                        class="col-md-4 control-label">
			                        Password
			                    </label>
			                    <div class="col-md-6">
			                        <input ng-model="login.password" 
			                            ng-attr-type="{{showPassword ? 'text' : 'password'}}"
			                            class="form-control"
			                            id="inputPassword" 
			                            placeholder="Password" />
			                        <a href="javascript: void(0)" 
			                            class="portal-show-pwd-btn"
			                            ng-click="togglePasswordVisiblity($event)" >
			                            <i class="glyphicon" 
			                                ng-class="{'glyphicon-eye-open': !showPassword, 'glyphicon-eye-close': showPassword}">
			                            </i>
			                        </a>
			                    </div>
			                </div>
			                <div class="form-group" ng-show="userSpaces.length > 1">
			                    <label for="loginSpace" 
			                        class="col-md-4 control-label">
			                        Space
			                    </label>
			                    <div class="col-md-6">
			                        <isteven-multi-select id="loginSpace" 
			                        	class="full-width" 
										input-model="userSpaces" 
										selection-mode="single" 
										helper-elements="filter" 
										translation="userSpaceLocalLang" 
									    output-model="login.userSpaces"
									    button-label="userSpaceName"
									    item-label="userSpaceName"
									    tick-property="selected">
									</isteven-multi-select>
			                    </div>
			                </div>
			                <div class="form-group">
			                    <div class="col-md-6 col-md-offset-4">
			                        <div class="full-width">
<!-- 			                            <a ui-sref="signUp"  -->
<!-- 			                                href="javascript: void(0)"  -->
<!-- 			                                class="btn btn-default"> -->
<!-- 			                                Sign Up -->
<!-- 			                            </a>  -->
			                            <a href="javascript: void(0)" 
			                                ng-click="doLogin($event, login)"
			                                ng-class="{'disabled': userSpaces.length == 0}"
			                                class="btn btn-success full-width">
			                                Login
			                            </a>
			                        </div>
			                    </div>
			                </div>
			                <div class="form-group">
			                	<div class="col-md-6 col-md-offset-4">
				                    <a href="javascript: void(0)" class="pull-right">Forgot password</a>
			                    </div>
			                </div>
			            </form>
				  	</div>
				</div>
            </div>
        </div>
    </div>
</div>