<div class="panel panel-default">
    <div class="panel-heading">
        <div class="btn-group btn-group-justified pull-left" style="width: 100px">
            <a href="#" class="btn btn-default">
                And
            </a>
            <a href="#" class="btn btn-default">
                Or
            </a>
        </div>
        <div class="btn-group btn-group-justified pull-right" style="width: 225px">
            <a href="#" class="btn btn-default">
                <i class="glyphicon glyphicon-plus"></i> Add Rule
            </a>
            <a href="#" class="btn btn-default">
                <i class="glyphicon glyphicon-plus-sign"></i> Add Group
            </a>
        </div>
        <div style="clear: both"></div>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-2 col-md-offset-1">
                <ez-multiselect ez-options="countries" 
                    ez-config="ezConfig1" 
                    ez-onselect="ezOnselect" 
                    ng-model="selectedCountry">
                </ez-multiselect>
            </div>
            <div class="col-md-2">
                <ez-multiselect ez-options="countries" 
                    ez-config="ezConfig1" 
                    ez-onselect="ezOnselect" 
                    ng-model="selectedCountry">
                </ez-multiselect>
            </div>
            <div class="col-md-2">
                <input class="form-control" type="text" />
            </div>
            <div class="col-md-2 col-md-offset-3">
                <a href="#" class="btn btn-default">
                    Delete
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2 col-md-offset-1">
                <ez-multiselect ez-options="countries" 
                    ez-config="ezConfig1" 
                    ez-onselect="ezOnselect" 
                    ng-model="selectedCountry">
                </ez-multiselect>
            </div>
            <div class="col-md-2">
                <ez-multiselect ez-options="countries" 
                    ez-config="ezConfig1" 
                    ez-onselect="ezOnselect" 
                    ng-model="selectedCountry">
                </ez-multiselect>
            </div>
            <div class="col-md-2">
                <input class="form-control" type="text" />
            </div>
            <div class="col-md-2 col-md-offset-3">
                <a href="#" class="btn btn-default">
                    Delete
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2 col-md-offset-1">
                <ez-multiselect ez-options="countries" 
                    ez-config="ezConfig1" 
                    ez-onselect="ezOnselect" 
                    ng-model="selectedCountry">
                </ez-multiselect>
            </div>
            <div class="col-md-2">
                <ez-multiselect ez-options="countries" 
                    ez-config="ezConfig1" 
                    ez-onselect="ezOnselect" 
                    ng-model="selectedCountry">
                </ez-multiselect>
            </div>
            <div class="col-md-2">
                <input class="form-control" type="text" />
            </div>
            <div class="col-md-2 col-md-offset-3">
                <a href="#" class="btn btn-default">
                    Delete
                </a>
            </div>
        </div>
    </div>
</div>