<div class="portal-home-container full-size" ng-init="init()">
    <portal-header>
        <!-- Portal Header -->
    </portal-header>
    <portal-breadcrumb>
        <!-- Portal Breadcrumb -->
    </portal-breadcrumb>
    <div class="container-fluid portal-home-main">
        <div class="row" ng-if="!isMenuLaunched">
            <div class="col-md-8 col-md-offset-2">
                <div class="row" style="margin-top: 60px">
                    <div class="col-md-4 col-sm-6" 
                        ng-repeat="adminMenu in adminMenus track by adminMenu.id">
                        <div class="panel panel-default portal-tile-menu" 
                            ng-click="launchMenu($event, adminMenu)" >
                            <div class="panel-heading">
                                {{adminMenu.label}}
                            </div>
                            <div class="panel-body">
                                <a href="javascript: void(0)">
                                    <i class="{{adminMenu.icon.group + ' ' + adminMenu.icon.clazz}}"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="portal-left-menu" ng-if="isMenuLaunched">
        	<div class="fixed-table-container hidden-head">
      			<div class="header-background"></div>
		      	<div class="fixed-table-container-inner">
		        <table cellspacing="0">
		        	<thead>
		            	<tr>
		              		<th class="first">
		                		<div class="th-inner">Email Id</div>
		              		</th>
		              		<th>
		                		<div class="th-inner">User Name</div>
		              		</th>
		              		<th>
		                		<div class="th-inner">User Type</div>
		              		</th>
		              		<th>
		                		<div class="th-inner">Actions</div>
		              		</th>
						</tr>
						<tr class="hidden-header">
							<th class="first">
								<div class="th-inner">Email Id</div>
							</th>
							<th>
								<div class="th-inner">User Name</div>
							</th>
							<th>
								<div class="th-inner">User Type</div>
							</th>
							<th>
								<div class="th-inner">Actions</div>
							</th>
						</tr>
					</thead>
			        <tbody>
			        	<tr ng-repeat="user in users track by user.userId">
		              		<td>{{user.emailId}}</td>
		              		<td>{{user.username}}</td>
		              		<td>{{user.userType}}</td>
		              		<td style="width: 115px;">
   								<a href="#" class="btn btn-sm btn-default">
   									<i class="glyphicon glyphicon-ban-circle"></i>
   								</a>
   								<a href="#" class="btn btn-sm btn-default">
   									<i class="glyphicon glyphicon-edit"></i>
   								</a>
   								<a href="#" class="btn btn-sm btn-default">
   									<i class="glyphicon glyphicon-trash"></i>
   								</a>
		              		</td>
			            </tr>
			        </tbody>
		        </table>
		      </div>
		    </div>
        </div>
    </div>
</div>