<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <div class="row" style="margin-top: 60px">
            <div class="col-md-4 col-sm-6" 
            	ng-if="adminMenu.isEnable" 
                ng-repeat="adminMenu in adminMenus track by adminMenu.id">
                <div class="panel panel-default portal-tile-menu" 
                    ng-click="launchMenu($event, adminMenu)" >
                    <div class="panel-heading portal-menu-label" 
                    	title="{{adminMenu.label}}">
                        {{adminMenu.label}}
                    </div>
                    <div class="panel-body">
                        <a href="javascript: void(0)">
                            <i class="{{adminMenu.icon.group + ' ' + adminMenu.icon.clazz}}"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>