<div class="portal-db-manager-wrapper" ng-init="init()" style="margin-top: 15px">
	<div class="row">
		<div class="col-md-4">
			<div class="panel panel-default">
  				<div class="panel-heading">
  					<form class="panel-form" 
  						role="search" 
  						style="display: inline-block;">
        				<div class="">
          					<input type="text" 
          						class="form-control" 
          						placeholder="Search" 
          						style="height: 28px">
        				</div>
      				</form>
  					<span class="pull-right">
  						<a href="javascript: void(0)" 
  							class="btn btn-sm btn-default">
	  						<i class="glyphicon glyphicon-plus"></i>
	  					</a>
	  					<a ng-click="reloadUserSpaces()" class="btn btn-sm btn-default">
							<i class="glyphicon glyphicon-refresh"></i>
						</a>
  					</span>
  					<div class="clear-fix"></div>
  				</div>
			  	<div class="panel-body">
			    	<ul class="list-group">
						<li class="list-group-item" ng-repeat="userSpace in userSpaces track by userSpace.userSpaceId">
    						<div class="led-box" ng-if="userSpace.entryStatus == 0">
							    <div class="led led-red"></div>
						  	</div>
    						<div class="led-box" ng-if="userSpace.entryStatus == 1">
							    <div class="led led-green"></div>
						  	</div>
    						<span>{{userSpace.userSpaceDisplayName}}</span>
    						<span class="pull-right">
		  						<a href="javascript: void(0)" 
		  							class="btn btn-sm btn-default">
			  						<i class="glyphicon glyphicon-eye-open"></i>
			  					</a>
		  						<a href="javascript: void(0)" 
		  							class="btn btn-sm btn-default">
			  						<i class="glyphicon glyphicon-edit"></i>
			  					</a>
		  						<a href="javascript: void(0)" 
		  							class="btn btn-sm btn-default">
			  						<i class="glyphicon glyphicon-ban-circle"></i>
			  					</a>
		  					</span>
		  					<span class="clear-fix"></span>
  						</li>
  					</ul>
			  	</div>
			</div>
		</div>
		<div class="col-md-8">
			<div class="panel panel-default">
  				<div class="panel-heading">
  					Create Space
  				</div>
			  	<div class="panel-body">
			    	<div class="row">
			    		<div class="col-md-12" ng-if="!isEnableServerForm">
			    			<form class="form-horizontal">
    							<div class="form-group">
      								<label for="spaceName" 
      									class="col-md-4 control-label">
      									Space Name
   									</label>
      								<div class="col-md-5">
        								<input type="text" 
        									ng-model="userSpace.userSpaceName"
        									class="form-control" 
        									id="spaceName" 
        									placeholder="Space Name" />
      								</div>
    							</div>
    							<div class="form-group">
      								<label for="spaceDisplayName" 
      									class="col-md-4 control-label">
      									Space Display Name
   									</label>
      								<div class="col-md-5">
        								<input type="text" 
        									class="form-control" 
        									ng-model="userSpace.userSpaceDisplayName"
        									id="spaceDisplayName" 
        									placeholder="Space Display Name" />
      								</div>
    							</div>
    							<div class="form-group">
      								<label for="dbServer" 
      									class="col-md-4 control-label">
      									Database Server
   									</label>
      								<div class="col-md-5">
										<isteven-multi-select class="full-width" 
											input-model="dbServers" 
											selection-mode="single" 
											helper-elements="filter" 
											translation="dbServerLocalLang" 
										    output-model="userSpace.dbServer"
										    button-label="dbServerDisplayName"
										    item-label="dbServerDisplayName"
										    tick-property="selected">
										</isteven-multi-select>
      								</div>
      								<div class="col-md-2">
        								<a href="javascript: void(0)" 
        									ng-click="enableServerForm($event)" 
				  							class="btn btn-sm btn-default">
					  						<i class="glyphicon glyphicon-plus"></i>
					  					</a>
      								</div>
    							</div>
    							<div class="form-group">
      								<div class="col-md-5 col-md-offset-4">
								        <div class="pull-right">
								        	<a href="javascript: void(0)" class="btn btn-sm btn-default">Cancel</a>
								        	<a href="javascript: void(0)" 
								        		ng-click="createSpace($event, userSpace)" 
								        		class="btn btn-sm btn-primary">
								        		Save
							        		</a>
								        </div>
								        <div class="clear-fix"></div>
							      	</div>
							    </div>
    						</form>
			    		</div>
			    		<div class="col-md-12" ng-if="isEnableServerForm">
			    			<form class="form-horizontal">
    							<div class="form-group">
      								<label for="serverName" 
      									class="col-md-4 control-label">
      									Server Name
   									</label>
      								<div class="col-md-5">
        								<input type="text" 
        									class="form-control" 
        									ng-model="newDBServer.dbServerName"
        									id="serverName" 
        									placeholder="Server Name" />
      								</div>
    							</div>
    							<div class="form-group">
      								<label for="serverDisplayName" 
      									class="col-md-4 control-label">
      									Server Display Name
   									</label>
      								<div class="col-md-5">
        								<input type="text" 
        									class="form-control" 
        									ng-model="newDBServer.dbServerDisplayName"
        									id="serverDisplayName" 
        									placeholder="Server Display Name" />
      								</div>
    							</div>
    							<div class="form-group">
      								<label for="serverIP" 
      									class="col-md-4 control-label">
      									Server IP
   									</label>
      								<div class="col-md-5">
        								<input type="text" 
        									class="form-control" 
        									ng-model="newDBServer.dbServerIP"
        									id="serverIP" 
        									placeholder="172.0.0.1" />
      								</div>
    							</div>
    							<div class="form-group">
      								<label for="serverPort" 
      									class="col-md-4 control-label">
      									Server Port
   									</label>
      								<div class="col-md-5">
        								<input type="text" 
        									class="form-control" 
        									ng-model="newDBServer.dbServerPort"
        									id="serverPort" 
        									placeholder="3306" />
      								</div>
    							</div>
    							<div class="form-group">
      								<label for="serverType" 
      									class="col-md-4 control-label">
      									Server Type
   									</label>
      								<div class="col-md-5">
        								<isteven-multi-select class="full-width" 
											input-model="dbServerTypes" 
											selection-mode="single" 
											helper-elements="filter" 
											translation="dbServerTypeLocalLang" 
										    output-model="newDBServer.dbServerType"
										    button-label="dbServerTypeDisplayName"
										    item-label="dbServerTypeDisplayName"
										    tick-property="selected">
										</isteven-multi-select>
      								</div>
      								<div class="col-md-2">
        								<a href="javascript: void(0)" 
				  							class="btn btn-sm btn-default">
					  						<i class="glyphicon glyphicon-plus"></i>
					  					</a>
      								</div>
    							</div>
    							<div class="form-group">
      								<label for="serverUsername" 
      									class="col-md-4 control-label">
      									Server Username
   									</label>
      								<div class="col-md-5">
        								<input type="text" 
        									ng-model="newDBServer.dbServerUsername"
        									class="form-control" 
        									id="serverUsername" 
        									placeholder="Server Username" />
      								</div>
    							</div>
    							<div class="form-group">
      								<label for="serverPassword" 
      									class="col-md-4 control-label">
      									Server Password
   									</label>
      								<div class="col-md-5">
        								<input type="password" 
        									ng-model="newDBServer.dbServerPassword"
        									class="form-control" 
        									id="serverPassword" 
        									placeholder="S3cr1t" />
      								</div>
    							</div>
    							<div class="form-group">
      								<div class="col-md-5 col-md-offset-4">
								        <div class="pull-right">
								        	<a href="javascript: void(0)" 
								        		class="btn btn-sm btn-default">
								        		Cancel
							        		</a>
								        	<a href="javascript: void(0)" 
								        		ng-click="saveServer($event, newDBServer)" 
								        		class="btn btn-sm btn-primary">
								        		Save
							        		</a>
								        </div>
								        <div class="clear-fix"></div>
							      	</div>
							    </div>
    						</form>
			    		</div>
			    	</div>
			  	</div>
			</div>
		</div>
	</div>
</div>